* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
body {
	background-color: #0D1418;
}
#root {
	display: flex;
	justify-content: center;
	align-items: center;
}
.messenger {
	margin-top: 50px;
	width: 80%;
	background-color: #0D1418;
	display: flex;
	height: calc(100vh - 60px);
}
nav {
	display: flex;
	flex-direction: column;
	width: calc(100% / 3);
	background-color: #323739;
}
.tools {
	color: #B1B3B5;
	display: flex;
	width: 100%;
	border-right: 1px solid #404548;
	flex-direction: column;
}
.my-things {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 10px 20px;
}
.my-things svg, .my-things i {
	margin: 0 20px;

}
.my-things svg:nth-child(2) {
	margin-left: auto;
}
.my-things img {
	width: 40px;
	border-radius: 50%;
}
.notifications {
	display: flex;
	background-color: #085373;
	align-items: center;
	height: 80px;
	padding: 0 20px
}
.bell-icon {
	width: 40px;
	height: 40px;
	background-color: #8EB2BE;
	color: #085373;
	border-radius: 50%;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.notification-text {
	margin-left: 40px;
}
.notification-text p:first-child{
	font-size: 16px;
	color: #fff;
}
.notification-text p:last-child{
	color: #8EB2BE;
	font-size: 12px;
}
.search-box {
	height: 50px;
	display: flex;
	background-color: #131C21;
	align-items: center;
	justify-content: center;
}
.the-box {
	color: #828689;
	border-radius: 20px;
	height: 70%;
	width: 97%;
	background-color: #323739;
	display: flex;
	align-items: center;
	justify-content: center;
}
.the-box input {
	font-size: 16px;
	background-color: #323739;
	width: 80%;
	outline: none;
	padding-left: 30px;
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	border-bottom-style: hidden;
	color: #8E9193;
}
.contact-list {
	background-color: #131C21;
	border-bottom: 1px solid #404548;
	overflow: hidden;
}
.contact-list li:first-child {
	border-top: 1px solid #323739;
}
.contact-list li{
	display: flex;
	align-items: center;
	list-style: none;
	padding: 10px 20px;
	border-bottom: 1px solid #323739;
}
.contact-list img {
	width: 50px;
	border-radius: 50%;
}
.contact-list .preview {
	margin-left: 50px;
	width: 100%;
	display: flex;
	flex-direction: column;
}
p.name {
	color: #fff;
}
p.last-message {
	margin-top: 5px;
	font-size: 12px;
}
main {
	width: calc((100% / 3)*2);
}
.header {
	padding: 0 20px;
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: #8E9193;
}
.header img {
	width: 40px;
	border-radius: 50%;
}
.current-contact {
	color: #C6C7C7;
	padding-left: 30px;
}
.header i {
	padding: 0 20px;
}
.header i.fa-search {
	margin-left: auto;
}
.chat {
	width: 100%;
	height: calc(100% - 110px);
	background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url("../img/dark.png");
	background-repeat: repeat;
	overflow: hidden;

}
.chat ul {
	display: flex;
	flex-direction: column;

}
.chat ul li {
	color: #fff;
	list-style: none;
	display: flex;
	margin: 20px 40px;
	align-items: center;
	width: 50%;
	padding: 0 10px;
}
.outgoing, .incoming {
	height: 30px;
	border-radius: 5px;
	margin: 10px 0;
}
.outgoing {
	background-color: #056162;
	align-self: flex-end;
}
.incoming {
	background-color: #262C31;
	align-self: flex-start;
}
.time-stamp {
	color: #8E9193;
	margin-left: auto;
	font-size: 10px;
}
.message-box {
	height: 50px;
	background-color: #1E2428;
	display: flex;
	align-items: center;
	color: #8E9193;
}
.message-box i {
	font-size: 20px;
}
.message-box > * {
	padding: 0 20px;
}
.message-area {
	height: 80%;
	width: 90%;
	background-color: #323739;
	border-radius: 20px;
}
.message-area input {
	background-color: transparent;
	width: 95%;
	height: 98%;
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	border-bottom-style: hidden;
	outline: none;
	color: #8E9193;
	font-size: 16px;
}

